// All of your variables should be defined here
:root {
  // Colors
  --primary-color: #4640de;
  --secondary-color: #4640de0d;
  --accent-color: #f8f8fd;
  --dark-accent-color: #443fde1a;
  --pattern-color: #ccccf5;
  --text-color: #25324b;
  --header-color: #4640de0d;
  --footer-color: #211e62;
  --grey-color: #515b6f;
  // Dimensions
  --border-radius: 2.5rem;
  // Fonts
  --font-red-hat: "Red Hat Display", sans-serif;
  --font-clash-extralight: "ClashDisplay-Extralight";
  --font-clash-light: "ClashDisplay-Light";
  --font-clash-regular: "ClashDisplay-Regular";
  --font-clash-medium: "ClashDisplay-Medium";
  --font-clash-semibold: "ClashDisplay-Semibold";
  --font-clash-bold: "ClashDisplay-Bold";
  --font-clash-variable: "ClashDisplay-Variable";
}
