.button {
  font-family: var(--font-red-hat);
  border-radius: var(--border-radius);
  padding: 1rem;
  cursor: pointer;
  position: relative;
  z-index: 0;
  overflow: hidden;
  border: none;
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -24px;
    right: -24px;
    background: var(--text-color);
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
  }

  &:hover:before {
    transform: scale(50);
  }

  p {
    color: white;
  }
  i {
    color: white;
  }
}
