.content {
  width: 100%;
  height: 115rem;
  padding: 2rem;
  .filtersSection {
    font-family: var(--font-red-hat);
    font-size: 1rem;
    font-weight: 600;
    flex: 1;
    padding: 1rem;
    .filtersCard {
      width: 100%;
      height: auto;
      padding: 2rem;
      background-color: var(--accent-color);
      border-radius: var(--border-radius);

      .filterHeader {
        font-family: var(--font-clash-variable);
        color: var(--text-color);
        font-size: 1.3rem;
        font-weight: 600;
      }
      .searchButton {
        position: absolute;
        right: 0;
        top: 0;
      }

      .countTag {
        width: 1.5rem;
        height: 100%;
        display: flex;
        border-radius: var(--border-radius);
        background-color: var(--primary-color);
        color: var(--accent-color);
        font-size: 0.8rem;
        font-weight: 700;
      }

      .salaryRange {
        display: flex;
        font-weight: 700;
        font-size: 1rem;
      }
    }
  }

  .jobsSection {
    flex: 3;
    padding: 1rem;
    height: 110rem;
    gap: 1rem;
    .jobsList {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      height: 100%;
    }
    .noJobsList{
        margin-top: 10rem;
      align-items: center;
      font-family: var(--font-clash-variable);
      color: var(--text-color);
      font-weight: 600;
      font-size: 2.5rem;
      i{
        color: var(--primary-color);
        font-size: 4rem;
        font-weight: 700;
      }
    }
    ::ng-deep .p-paginator {
      font-family: var(--font-red-hat);
      ::ng-deep .p-paginator-page {
        color: var(--primary-color);
        font-weight: 700;

        &.p-highlight {
          background-color: var(--primary-color);
          color: var(--accent-color);
          pointer-events: none;
          &:hover {
            background-color: var(--primary-color);
          }
        }
      }
      ::ng-deep .p-paginator-page,
      ::ng-deep .p-paginator-prev,
      ::ng-deep .p-paginator-next,
      ::ng-deep .p-paginator-first,
      ::ng-deep .p-paginator-last {
        color: var(--primary-color);
        &:hover {
          background-color: var(--dark-accent-color);
        }
      }
    }
  }
}

// Checkbox
input[type="checkbox"] {
  height: 0;
  width: 0;
} // hidden
input[type="checkbox"] + label {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.23, 1);
}
input[type="checkbox"] + label > ins {
  position: absolute;
  display: block;
  bottom: 0;
  left: 1.6em;
  height: 0;
  width: 100%;
  overflow: hidden;
  text-decoration: none;
  transition: height 300ms cubic-bezier(0.4, 0, 0.23, 1);
}
input[type="checkbox"] + label > ins > i {
  position: absolute;
  bottom: 0;
  font-style: normal;
  color: var(--primary-color);
}
input[type="checkbox"] + label > span {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.6em;
  width: 1em;
  height: 1em;
  background: transparent;
  border: 2px solid var(--grey-color);
  border-radius: 2px;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.23, 1);
}
input[type="checkbox"] + label:hover > span,
input[type="checkbox"]:focus + label > span {
  background: rgba(255, 255, 255, 0.1);
}
input[type="checkbox"]:checked + label > ins {
  height: 100%;
}
input[type="checkbox"]:checked + label > span {
  border: 0.5em solid var(--primary-color);
  animation: shrink-bounce 200ms cubic-bezier(0.4, 0, 0.23, 1);
}
input[type="checkbox"]:checked + label > span:before {
  content: "";
  position: absolute;
  top: 0.6em;
  left: 0.2em;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  transform: rotate(45deg);
  transform-origin: 0% 100%;
  animation: checkbox-check 125ms 250ms cubic-bezier(0.4, 0, 0.23, 1) forwards;
}

@keyframes shrink-bounce {
  0% {
    transform: scale(1);
  }
  33% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes checkbox-check {
  0% {
    width: 0;
    height: 0;
    border-color: white;
    transform: translate3d(0, 0, 0) rotate(45deg);
  }
  33% {
    width: 0.2em;
    height: 0;
    transform: translate3d(0, 0, 0) rotate(45deg);
  }
  100% {
    width: 0.2em;
    height: 0.5em;
    border-color: white;
    transform: translate3d(0, -0.5em, 0) rotate(45deg);
  }
}

.floatingLabelContent {
  position: relative;
}
.floatingLabel {
  position: absolute;
  font-family: var(--font-red-hat);
  color: var(--grey-color);
  font-weight: 500;
  font-size: 1rem;
  pointer-events: none;
  left: 15px;
  top: 11px;
  padding: 0 5px;
  background: var(--accent-color);
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.floatingLabelInput {
  width: 100%;
  font-family: var(--font-red-hat);
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 500;
  display: block;
  padding: 12px 20px;
  background: transparent;
  border: 1px solid #ccc;
  border-radius: var(--border-radius);
  box-sizing: border-box;
  &:focus {
    border: 1px solid var(--primary-color);
    outline: none;
    ~ .floatingLabel {
      top: -8px;
      font-size: 0.8rem;
    }
  }
}

.floatingLabelInput:not(:placeholder-shown) ~ .floatingLabel {
  top: -8px;
  font-size: 0.8rem;
}
