.wrapper {
  height: auto;
  width: 100%;

  flex-grow: 1;
  box-sizing: border-box;
}

::ng-deep .p-toast {
  font-family: var(--font-red-hat);
  color: var(--primary-color);
  .p-toast-message {
    background-color: rgba(69, 64, 222, 0.25);
    border-left: #4540de 0.3rem solid;
  }
  .p-toast-message-text {
    color: var(--text-color);
  }

  .p-toast-icon-close,
  .p-toast-summary,
  .p-toast-detail {
    color: var(--primary-color);
  }
  .p-toast-summary {
    font-weight: 900;
  }
  .p-toast-detail {
    font-weight: 600;
  }
}

// p-toast	Main container element.
// p-toast-message	Container of a message item.
// p-toast-icon-close	Close icon of a message.
// p-toast-icon	Severity icon.
// p-toast-message-content	Container of message texts.
// p-toast-summary	Summary of the message.
// p-toast-detail
