<div class="card" [style.background-color]="backgroundColor">
  <!-- Time and save button -->
  <div class="row space-between mb-25">
    <!-- added at -->
    <!-- <div class="darkText">{{ job.addedAt }}</div> -->
    <div class="darkText timeAdded">{{postedIn}}</div>

    <!-- bookmark button-->
    <div *ngIf="!isAppliedTo" class="saveButton">
      <app-save-button
        *ngIf="!(role === 'company')"
        (click)="onSaveJob()"
        [isChecked]="isBookmarked"
      ></app-save-button>
    </div>

    <!-- Already Applied Tag -->
    <div *ngIf="isAppliedTo" class="darkText appliedTag full-center">
      Applied
    </div>
  </div>
  <!-- company and Job Title -->
  <div class="row gap-2">
    <!-- Company Logo -->
    <div class="companyLogoContainer">
      <img src="{{ job.company.logo }}" alt="Company" />
    </div>

    <!-- company data -->
    <div class="column gap-05">
      <!-- Job Title -->
      <div class="darkText jobTitle">{{ job.title }}</div>

      <!-- Company Name -->
      <div
        (click)="onCompanyClicked()"
        class="row gap-025 align-center company"
      >
        <i class="pi pi-verified"></i>
        <span>{{ job.company.name }}</span>
      </div>
    </div>
  </div>

  <!-- Job data -->
  <div class="row space-between mt-25">
    <div class="row darkText jobData">
      <!-- Category -->
      <div class="data">
        <i class="pi {{ job.category.icon }}"></i>
        <span>{{ job.category.name }}</span>
      </div>
      <!-- Job Type -->
      <div class="data">
        <i class="pi pi-clock"></i>
        <span>{{ job.type }}</span>
      </div>
      <!-- Salary -->
      <div class="data">
        <i class="pi pi-wallet"></i>
        <span>{{ job.salary }}</span>
      </div>
      <!-- Location -->
      <div class="row gap-025 align-center">
        <i class="pi pi-map-marker"></i>
        <span class="">{{ job.location }}</span>
      </div>
    </div>
    <app-animated-button
      label="Job details"
      height="2.5rem"
      backgroundColor="var(--primary-color)"
      fontSize="1rem"
      fontWeight="700"
      (click)="onClicked(job.id)"
    ></app-animated-button>
  </div>
</div>
