.card {
  border-radius: var(--border-radius);
  width: 100%;
  height: 15.75rem;
  padding: 2.5rem;
  background: url("../../../../../src/assets/images/hero-pattern.svg");
  background-size: 60rem;
  background-blend-mode: color-dodge;
  background-color: var(--accent-color);
  overflow: hidden;

  .timeAdded {
    font-family: var(--font-clash-variable);
    color: var(--primary-color);
    background-color: var(--dark-accent-color);
    padding: 0.4rem;
    border-radius: var(--border-radius);
    font-weight: 500;
    font-size: 0.8rem;
  }

  .appliedTag{
    display: flex;
    font-family: var(--font-clash-variable);
    color: #179a56;
    background-color: #32de8549;
    padding: .3rem;
    width: 6rem;
    border-radius: var(--border-radius);
    font-weight: 500;
    font-size: 1rem;
  }

  .companyLogoContainer {
    width: 4rem;
    height: 4rem;
    border-radius: 4rem;
    overflow: hidden;
  }

  .companyLogoContainer img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
  }

  .jobTitle {
    font-family: "ClashDisplay-Semibold";
    color: var(--text-color);
    font-size: 1.7rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .company {
    font-family: var(--font-clash-variable);
    font-weight: 500;
    color: var(--grey-color);
    font-size: 1.2rem;
    cursor: pointer;
  }

  .jobData {
    gap: 1.5rem;
    .data {
      gap: 0.3rem;
      display: flex;
      direction: row;
      justify-content: space-between;
      align-items: center;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      i {
        padding: 0.2rem;
      }
    }
  }

  i {
    color: var(--primary-color);
    font-weight: 600;
    font-size: 1.2rem;
  }
}

.btn {
  background-color: var(--primary-color);
  color: var(--text-color);
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-weight: 500;
}

.active {
  background-color: red;
}
