<div class="column card" [class.selected]="isSelected" (click)="onClick()">
  <!-- <i class="pi {{ category.icon }}"></i> -->
  <!-- <i class="pi {{ category.icon }}"></i> -->
  <i class="pi {{ category.icon }}"></i>
  <span class="categoryName">{{ category.name }}</span>

  <!-- number of available jobs -->
  <div class="row categoryJobs space-between">
    <!-- <span>{{ category.numOfJobs }} Jobs</span> -->
    <span>{{ jobCountPerCategory }} Jobs</span>
    <!-- arrow to the right icon -->
    <i class="pi pi-arrow-right"></i>
  </div>
</div>
