<div
  class="card"
  [ngClass]="{ 'vertical column': isVertical, 'horizontal row': !isVertical }"
  [style.background-color]="backgroundColor"
  (click)="onClicked(job.id)"
>
  <!-- company -->
  <div class="row space-between align-center">
    <!-- Company Logo -->
    <div class="full-center companyLogoContainer">
      <img src="{{ job.company.logo }}" alt="Company" />
    </div>
    <!-- Job Type Tag -->
    <span class="jobType" *ngIf="isVertical">{{ job.type }}</span>
  </div>

  <!-- Job meta data -->
  <div class="gap-025 column">
    <!-- Job Title -->
    <div class="darkText jobTitle">{{ job.title }}</div>

    <div class="gap-05" [ngClass]="{ column: isVertical, row: !isVertical }">
      <!-- Company Name -->
      <div class="row gap-025 company align-center">
        <i class="pi pi-verified"></i>
        <span>{{ job.company.name }}</span>
      </div>
      <!-- Location -->
      <div class="row gap-025 location align-center">
        <i class="pi pi-map-marker"></i>
        <span class="">{{ job.location }}</span>
      </div>
    </div>

    <!-- job description -->
    <div class="jobDescription" *ngIf="isVertical">
      <span>
        {{ job.description }}
      </span>
    </div>

    <!-- job tags -->
    <div class="row gap-05 mt-15 tags">
      <!-- Job Type Tag -->
      <div class="row gap-05 full-center" *ngIf="!isVertical">
        <span class="jobType">{{ job.type }}</span>
        <div class="divider"></div>
        <!-- Job Type Tag -->
        <span class="tag">{{ job.experience }}</span>
        <span class="tag">{{ job.location }}</span>
      </div>
      <div class="row gap-05 tag-container" *ngIf="isVertical">
        <span class="tag">{{ job.experience }}</span>
        <span class="tag">{{ job.location }}</span>
      </div>
    </div>
  </div>

  <!-- bookmark button-->
  <div *ngIf="!isVertical && !(role === 'company')" class="saveButton">
    <app-save-button
      (click)="onSaveJob($event)"
      [isChecked]="isBookmarked"
    ></app-save-button>
  </div>
</div>
