<app-page-header pageTitle="Jobs" titleFontSize="5rem"></app-page-header>

<div class="row content">
  <div class="filtersSection">
    <div class="column gap-1 filtersCard">
      <form [formGroup]="form" class="column gap-1">
        <!-- Job Title -->
        <p class="filterHeader">Search By Job Title</p>
        <div class="floatingLabelContent">
          <input
            class="floatingLabelInput"
            type="text"
            formControlName="titleSearch"
            placeholder=""
          />
          <label class="floatingLabel">Enter job title</label>
        </div>

        <!-- Location -->
        <p class="filterHeader">Location</p>
        <div class="floatingLabelContent">
          <select
            formControlName="citySearch"
            class="floatingLabelInput"
            type="text"
            placeholder=""
          >
            <option value="" [selected]="true">Select City</option>
            <option *ngFor="let city of cities" value="{{ city }}">
              {{ city }}
            </option>
          </select>
        </div>

        <!-- Category -->
        <p class="filterHeader">Category</p>
        <div
          *ngFor="
            let category of categories
              | slice : 0 : (showAllCategories ? categories.length : 6)
          "
          class="row space-between"
        >
          <div class="row">
            <input
              id="{{ category.name }}"
              value="{{ category.id }}"
              type="checkbox"
              (click)="categoryFilter($event)"
            />
            <label for="{{ category.name }}">
              <span></span>
              {{ category.name }}
              <ins
                ><i>{{ category.name }}</i></ins
              >
            </label>
          </div>
          <!-- count -->
          <p class="full-center countTag">
            {{ getJobsCountPerCategory(category.id) }}
          </p>
        </div>
        <app-animated-button
          label="{{ showAllCategoriesText }} all categories"
          width="100%"
          height="2.5rem"
          backgroundColor="var(--primary-color)"
          fontSize="1rem"
          fontWeight="600"
          (click)="toggleCategories()"
        ></app-animated-button>

        <!-- Job Type -->
        <p class="filterHeader">Job Type</p>
        <div
          *ngFor="let type of jobTypes; let index = index"
          class="row space-between"
        >
          <div class="row">
            <input
              type="checkbox"
              id="{{ jobTypes.at(index) }}"
              value="{{ jobTypes.at(index)?.toString() }}"
              (click)="jobTypeFilter($event)"
            />
            <label for="{{ jobTypes.at(index) }}">
              <span></span>
              {{ jobTypes.at(index) }}
              <ins
                ><i>{{ jobTypes.at(index) }}</i></ins
              >
            </label>
          </div>
          <p class="full-center countTag">11</p>
        </div>

        <!-- Experience Level -->
        <p class="filterHeader">Experience Level</p>
        <div class="floatingLabelContent">
          <select
            formControlName="experience"
            class="floatingLabelInput"
            type="text"
            placeholder=""
          >
            <option value="" [defaultSelected]="true">Select Experience</option>
            <option
              *ngFor="let experience of experiences"
              value="{{ experience }}"
            >
              {{ experience }}
            </option>
          </select>
        </div>
      </form>
      <!-- Date Posted -->
      <p class="filterHeader">Date Posted</p>
      <div
        *ngFor="let type of datePosted; let index = index"
        class="row space-between"
      >
        <div class="row">
          <input type="checkbox" id="{{ datePosted.at(index) }}" />
          <label for="{{ datePosted.at(index) }}">
            <span></span>
            {{ datePosted.at(index) }}
            <ins
              ><i>{{ datePosted.at(index) }}</i></ins
            >
          </label>
        </div>
        <p class="full-center countTag">10</p>
      </div>

      <!-- Salary -->
      <p class="filterHeader">Salary</p>
      <p-slider
        [(ngModel)]="rangeValues"
        [range]="true"
        [animate]="true"
        [min]="0"
        [max]="1000000"
        styleClass="w-14rem"
      />
      <div class="row full-center">
        <p class="salaryRange">Salary:</p>
        &nbsp;
        <p class="salaryRange">{{ rangeValues[0] | currency }} -</p>
        &nbsp;
        <p class="salaryRange">{{ rangeValues[1] | currency }}</p>
      </div>
      <app-animated-button
        label="Apply Filters"
        width="100%"
        height="2rem"
        backgroundColor="var(--primary-color)"
        fontSize="1rem"
        fontWeight="600"
        (click)="applyFilters()"
      ></app-animated-button>
    </div>
  </div>

  <div class="column jobsSection">
    <div class="countTag">
      <p class="darkText">
        Showing &nbsp;
        {{ paginatedJobs.length }} - {{ rows }} of &nbsp;
        {{ filteredJobs.length || totalRecords }}
      </p>
    </div>
    <div *ngIf="!(paginatedJobs.length === 0)" class="jobsList">
      <app-full-job-card
        *ngFor="let job of paginatedJobs"
        [job]="job"
        [isAppliedTo]="isAppliedTo(job.id)"
      ></app-full-job-card>
    </div>
    <p-paginator
      *ngIf="!(paginatedJobs.length === 0)"
      [first]="first"
      [rows]="rows"
      [totalRecords]="totalRecords"
      (onPageChange)="onPageChange($event)"
      [styleClass]="'paginator'"
    ></p-paginator>
    <div *ngIf="paginatedJobs.length === 0" class="column gap-1 noJobsList">
      <i class="pi pi-times-circle"></i>
      <div>No Jobs Found</div>
    </div>
  </div>
</div>
